/*
        Format
modify at will
*/

html {background-color:#fff;color:#888;font-family:sans-serif;
    background-image: -moz-radial-gradient(right top, #ddddff 10%, #ffeeff);
    height: 100%;
    font:0.8em/1.5em Arial,Helvetica,sans-serif
}
acronym:hover {cursor:help;}
ul {padding:0;}
ul li {display:inline;padding:0;}
input, textarea, select, option {background:#eee;color:#aaa;border:1px solid #ccc;padding:0;font-size:16px;font-family:sans-serif}
input:focus, textarea:focus, select:focus {border-color:#999}
option {border:0;padding:0 3px;}

#pagetitle.index, #pagesubtitle.index {text-align:center;}
#pagetitle, #pagesubtitle {text-align:left;}

#content .entry h2 {
    float:none;
    margin:0;
    text-align:left;
}
#content .entry h3 {text-align:left;}

#left h3 {margin:0;}

#topnav, #midnav {
    padding:4px 0;
    background-image: -moz-linear-gradient(top, transparent, rgba(200, 50, 200, 0.2));
    border: 1px solid #eee;
    border-radius: 0.4em;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4);
}
#topnav {background:transparent !important;}
#topnav li, #midnav li {background:transparent}
#topnav a, #midnav a {
    border-radius: 0.6em;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#topnav li:hover > a, #midnav li:hover > a, .currentDivision, .currentPage {
    background-image: -moz-linear-gradient(center bottom, rgba(255, 255, 255, 0.8), rgba(200, 175, 200, 0.2));
    border-top: 1px solid #F8F8F8;
    box-shadow: 1px 1px 0px rgba(200, 200, 200, 0.5);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
}
#topnav li:hover > a, .currentDivision {background-image: -moz-linear-gradient(center top, rgba(255, 240, 255, .2), transparent 50%) !important}

#topnav.index {text-align:center;background:transparent;border:none;box-shadow:none;padding:3em 0}
#topnav.index li {
    padding:3em 0;
    background-image:-moz-radial-gradient(top, transparent 60%, rgba(200, 50, 200, 0.2));
    border: 1px solid #eee;
    border-radius: 0.4em;
    box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4);
}
#topnav.index li:hover {}
#topnav.index li a {padding:3em 1em}
#topnav.index li a:hover {}

#midnav.index {display:none}

.info {font-size:.8em}
.entry p {line-height:1.3em}
ul.tags li {display:block}
a:link, a:visited {color:#58c;text-decoration:none;}
a:hover, a:active {color:#444;}

/* unordered list classes for archive navigation menu */
ul.archlev1 {font-size:.8em}
ul.archlev1 li {padding:0;display:block}
ul.archlev2 li {padding:0 0 0 10px;display:block}
ul.archlev3 li {padding:0 0 0 20px;display:block}

/* form classes */
#addForm {
    display:none;
}
#addForm textarea, .main textarea {width:100%; height:25em; line-height:1.5em}
#addForm ul li, .info ul li {display:block;}
#addForm ul {list-style: none none none;}

.entryEditButton {float:right;font-size:.8em}

#loginToggle {cursor:pointer;display:block;font-size:0.6em;height:13px;position:absolute;right:0;top:0;width:30px;text-align:center;z-index:1}
#login {
    /*display:none; this is taken care of in header.php html */
    font-size:0.7em;
    position:absolute;
    right:10px;
    top:0;
}
#login input {font-size:0.8em}
#login ul li {display:block;list-style:none none none}

#content #right #main ul li {display:list-item;list-style-type:circle;margin:0 0 0 20px}