/* 	Layout		*/

/* If font size changes, need to recalculate ems below */
html {font:1em/1.5em Arial,Helvetica,sans-serif;}

/* Always have the scrollbar on the right*/
body {overflow: scroll}


/* Main layout 
	be careful when changing or recalculating these
	http://www.alistapart.com/articles/fluidgrids
*/

#page {
    margin: 2.5em auto;             /* 40px / 16px = 2.5em */
    padding: 0 1em;              /* 20px / 16px = 1.25em */
    /*max-width: 100%; */
    max-width: 85em;		/* 1360px / 16px = 85em */
}

#pagetitle {
    margin: 1.75em 0 0 0;
    padding: 5px;
}

#pagesubtitle {
    margin: 0;
    padding: 5px;
}

#topnav {
    margin: 0;
    /*width: 100%;*/
    position: absolute;
    top: 0;
    /*left: 0;*/
}

#topnav.index {
    margin: 4em auto;
    position: relative;
}

#midnav {
    margin: 1em 0;
    width: 100%;
}

#content {
    float: left;
    width: 100%;
}

#content #left {
    /*float: left;
/*    margin-top: 0.72727em;	/* 8px / 11px = 0.72727em */
	position: absolute;
	top: 12em;
    width: 23.529%;		/* 320px / 1360px = = 0.23529 */
}

#content #right {
    float: right;
/*    margin-top: 0.72727em;  /* 8px / 11px = 0.72727em */
    width: 75.294%;   /* 1024px / 1360px = 0.75294 */
}
